<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Login Page</title>
    <th:block th:include="~{/fragments/head.html}"></th:block>
</head>

<body>
<div class="container ">
    <nav th:replace="~{fragments/menu.html}"></nav>
    <div class="container mt-lg-5 border-right border-bottom bg-transparent h-100">
        <h1 class="w-100 text-light text-right">Login</h1>
    </div>
    <div class="row tm-mt-big">
        <div class="col-12 mx-auto tm-login-col">
            <div class="bg-white tm-block">
                <div class="row">
                </div>
                <div class="row mt-2">
                    <div class="col-12">
                        <form action="#" th:action="@{/users/login}" method="POST" class="tm-login-form">
                            <!--/*@thymesVar id="errors" type="String"*/-->
                            <div th:if="${errors}" class="text-center">
                                <small th:text="${errors}" class="text-danger col-12 text-center"></small>
                            </div>
                            <hr/>
                            <div class="input-group">
                                <label for="username" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Username</label>
                                <!--/*@thymesVar id="username" type="String"*/-->
                                <input th:value="${username}" name="username" type="text"
                                       class="form-control validate col-xl-9 col-lg-8 col-md-8 col-sm-7"
                                       id="username" placeholder="Username" required>
                            </div>
                            <div class="input-group mt-3">
                                <label th:value="${password}" for="password" class="col-xl-4 col-lg-4 col-md-4 col-sm-5 col-form-label">Password</label>
                                <input name="password" type="password" class="form-control validate"
                                       id="password" placeholder="Password" required>
                            </div>
                            <div class="input-group mt-3">
                                <button type="submit" class="btn btn-primary d-inline-block mx-auto">Login</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer th:replace="~{fragments/footer.html}"></footer>
</div>
</body>
</html>